.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 95%;
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.cover {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cover::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .cover::before {
    bottom: 0;
}

.cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .cover img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 1.5em 1.5em 4em;
    background: #000a;
    border-radius: 18px 18px 0 0;
    backdrop-filter: blur(14px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.details button {
    background: transparent;
    color: rgba(255 255 255 / 0.9);
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 50px;
    padding: .35rem .65rem;
    cursor: pointer;
    position: absolute;
    left: 65px;
    bottom: 20px;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h2 {
    font-size: 1.3em;
    margin: 0;
}

.details p {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    opacity: .9;
}

.details a {
    color: #fff;
}

.details a:hover {
    text-decoration: none;
}

.details .rating {
    position: relative;
    margin: 5px;
    display: flex;
    gap: .25em;
}

.details .rating {
    margin-left: 0;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .4em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags a {
    color: #fff;
    border-bottom: 1.5px solid rgba(255 255 255 / 0.4);
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .cast h3 {
    margin-bottom: .5em;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}

.details .btn.tertiary {
    color: #fff;
    border: 1px solid rgba(255 255 255 / 0.4);
}